* {
    border-radius: 15px;
    border: none;
}
window {
    margin: 0px;
    background-color: rgba(77,0,0,0.8);
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    color: #ff0000;
    font-weight: bold;
    background-color: rgba(77,0,0,0.8);
    margin: 20px;
    margin-bottom: 2px;
}
#input:focus {
    margin-bottom: 0px;
    background-color: transparent;
}

#inner-box {
    margin: 4px;
    color: #ff0000;
    font-weight: bold;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    background-color: transparent;
}

#scroll {
    margin-top: 5px;
    margin-bottom: 5px;
}

#img:selected {
    background-color: transparent;
}

#text:selected {
    color: #ffffff;
    margin: 0px 0px;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    background: linear-gradient(90deg, #b30000, #4d0000);
    background-color: transparent;
}

